# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.DS_Store

# Android Studio
.idea
.cxx
.cxx/
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
gradle/
build/
captures
.externalNativeBuild